
html
{
  height:100%;  
}
body{    
  
  background-size: cover;
  height:100%;
  width:100%;

}


.form-top{
	margin-top: 30px;
}

@-moz-document url-prefix() {
    .form-control{
    	height: auto;
    }
}


